.ios {
  page-cookies-notice {

    @include breakpoint('tablet') {

      .info-message {
        background-color: #f8f8f8;

        .inner {
          width: rem(520px);
          background-color: #fff;
          border-radius: 8px;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          padding: rem(24px) rem(50px) rem(16px);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          button.button-clear {
            margin: 0 35% rem(14px);
          }

        }
      }

    }

  }
}
